{% extends "global/base.html" %}

{% block posts %}
  {% for question in questions %}
    <div class="post">
      
      <p>
        {{ question.theme }} | {{ question.edition }}
      </p>

      <h3>
        <a href="{% url "question:question" question.id %}" class="link-black">
          {{ question }}
        </a>
      </h3>

      {% comment %} {% for answer_option in question.answer_options.all %}
        <p>
            <b>{{ answer_option }}</b>
        </p>
      {% endfor %} {% endcomment %}

    </div>
  {% endfor %}
{% endblock posts %}