{% extends "global/base.html" %}

{% block single_post %}

  <div class="post-box">
    <p>
      {{ single_question.theme }} | {{ single_question.edition }}
    </p>

    <h1>
      {{ single_question }}
    </h1>

    <form method="post">
      {% csrf_token %}

      {% for answer in single_question.answer_options.all %}
        <div>
          <input 
              type="radio" 
              name="question_answer" 
              id="answer{{ forloop.counter }}" 
              value="{{ answer.option }}"
          >
          <label for="answer{{ forloop.counter }}">
              {{ answer.option }})  {{ answer.option_text }}
          </label>
        </div>
      {% endfor %}
      <button class="btn btn-link" type="submit">Enviar Resposta</button>
    </form>
 
  </div>

{% endblock single_post %}