@import url(remedy.css);

:root {
  font-family: "Ancizar Sans", sans-serif;
}

body {
  background-color: rgb(93, 91, 206);
  background: #53b8e0;
  background: linear-gradient(to bottom, #230673, #151aa8d2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#form-content {
  max-width: 700px;
  width: auto;
  background-color: whitesmoke;
  margin: 80px auto;
  padding: 8px;
  position: relative;
  border: 1px solid black;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.362);
  border-radius: 10px;
}

.form-wrapper {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 35px;
  overflow: visible;
}

.form-wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.input-box {
  position: relative;
  margin-bottom: 10px;
}

.input-box input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  outline: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  font-size: 18px;
  margin-top: 8px;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.help-text {
  color: rgba(163, 163, 163, 0.959);
  margin-left: 5px;
  font-weight: 700;
}

.btn-send {
  width: 100%;
  height: 45px;
  background-color: rgba(41, 41, 107, 0.89);
  border: none;
  border-radius: 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.754);
  font-weight: 700;
  cursor: pointer;
}

.btn-send:hover {
  background-color: rgba(65, 65, 166, 0.89);
  outline: 2px solid;
  outline-color: rgb(76, 76, 191);
  color: rgba(153, 152, 152, 0.851);
}

.account-link {
  color: white;
  font-weight: 700;
  text-align: center;
}

.account-link a {
  color: white;
  text-decoration: none;
}

.account-link a:hover {
  color: rgba(188, 188, 188, 0.851);
  text-decoration: underline;
}
