<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% include "global/partials/_head.html" %}
</head>
<body class="{% block body_class %}{% endblock  %}">
    {% include "global/partials/_header.html" %}
    {% include "global/partials/_messages.html" %}
    
    {% block chat %}{% endblock chat %}
    <main class="content">
      {% block posts %}{% endblock posts %}
    
      {% block single_post %}{% endblock single_post %}

      {% block content %}{% endblock content %}
    </main>
</body>
</html>

