<header class="header">
  {% comment %} <h1 class="header-heading">
    <a href="{% url "question:index" %}" class="header-link">
      Questoes
    </a>
  </h1> {% endcomment %}

  <nav class="menu">
    <ul class="menu-list">

      {% if user.is_authenticated %}
        <li class="menu-item">
          <a href="{% url "question:index" %}" class="menu-link">Início</a>
        </li>
        <li class="menu-item">
          <a href="{% url "integrations:chat_bot" %}" class="menu-link">Chat Bot</a>
        </li>
        <li class="menu-item">
          <a href="{% url "user:logout" %}" class="menu-link">Logout</a>
        </li>
      {% else %}
        <li class="menu-item">
          <a href="{% url "user:login" %}" class="menu-link">Login</a>
        </li>
        <li class="menu-item">
          <a href="{% url "user:register" %}" class="menu-link">Register</a>
        </li>
      {% endif %}
  </nav>
</header>