SECRET_KEY="CHANGE-ME"

# 0 FALSE, 1 TRUE
DEBUG="1"

# Comma Separated Values
ALLOWED_HOSTS = ""

DB_ENGINE="django.db.backends.xxxx"
YOUR_DB="CHANGE-ME"
YOUR_DB_USER="CHANGE-ME"
YOUR_DB_PASSWORD="CHANGE-ME"
YOUR_DB_HOST="CHANGE-ME"
YOUR_DB_PORT="CHANGE-ME" 